@import "tailwindcss";

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-ticker {
  animation: ticker 20s linear infinite;
}

.pause-animation {
  animation-play-state: paused;
}
